{{#> layout currentPage = "blogs"}}
<main class="container">
  <!-- Blog List -->
  <section id="blogList" class="container">
    <h1 class="text-center my-3">BLOGS</h1>
    {{#if user}}
    <div class="d-flex justify-content-end my-3">
      <a href="/blog-create" class="btn btn-primary">Create Blog</a>
    </div>
    {{/if}}
    <div class="row row-cols-1">
      {{#each blogs}}
      <article class="col border border-2 rounded p-3 mb-3">
        <div class="row row-cols-lg-2 row-cols-sm-1 gy-3">
          <div class="col-lg-4">
            <img src="{{this.image}}" alt="in the classroom" class="w-100 rounded" />
          </div>
          <div class="col-lg-8">
            <div class="d-flex flex-column">
              {{#if (equal ../user.id this.authorId) }}
              <div class="d-flex flex-row justify-content-end gap-3 order-lg-1 order-2">
                <a href="/blog-edit/{{this.id}}" class="btn btn-secondary">Edit Blog</a>
                <input type="hidden" id="delete{{this.id}}"  value="/blogs/{{this.id}}?_method=DELETE">
                <button
                  class="btn btn-danger" 
                  data-bs-toggle="modal" 
                  data-bs-target="#exampleModal"
                  onclick="passingDataToModal({{this.id}})" >
                  Delete Blog
                </button>
              </div>
              {{/if}}
              <div class="d-flex flex-column order-lg-2 order-1">
                <a href="/blog-detail/{{this.id}}" class="text-decoration-none fs-1 fw-bold text-black">
                  <h1>{{this.title}}</h1>
                </a>
                <p>
                  {{formatDateToWIB this.createdAt}} | {{this.user.name}}
                </p>
                <p>
                  {{this.content}}
                </p>
                <p class="blog-item-relative-time">
                  {{getRelativeTime this.createdAt}}
                </p>
              </div>
            </div>
          </div>
          <!-- Modal -->
          <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
              <div class="modal-content">
                <div class="modal-header">
                  <h1 class="modal-title fs-5" id="exampleModalLabel">Delete Project</h1>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body f2-medium">
                  Are you sure you want to DELETE?
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                  <form id="formDeleteModal" action="" method="post">
                    <button class="btn btn-outline-danger" type="submit">DELETE</button>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </article>
      {{/each}}
    </div>
  </section>
</main>
<script src="/js/modal.js"></script>
{{/layout}}